---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Sameer, a <span class="text-red-500"
        >front-end software developer</span
      > from the southwestern United States.
      <br />
      My primary tools of choice include:
      <ul class="list-disc list-inside">
        <li>TypeScript</li>
        <li>React</li>
        <li>Svelte</li>
        <li>Three JS</li>
        <li>Astro</li>
        <li>Unity</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I've come to enjoy UI design, Game Dev, and traveling.
      Whenever I get the chance, I like to participate in competition via game
      jams and hackathons.
    </p>
    <p class="text-sm font-light">
      I always look for the best tool for the job, even if it's not my regular
      pick. If I can learn something new and craft a better interactive
      experience, I'm all for it.
    </p>
  </div>
</Card>
