---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">what's this?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Studying at Arizona State University</p>
  <p class="text-xs text-gray-500">Won 2nd at the 2023 ASU Habit-Hack</p>
  <p class="text-xs text-gray-500">Got 3rd at the Scorespace VR Jam</p>
</Card>
